#game
{
    display: none;
}

#pregame
{
    font-family: 'Vollkorn', serif;
}

#login-game-title
{
    position: absolute;
    top: -120px;
    left: -140px;
    font-size: 3em;
    color: darkred;
}

#login
{
    /* Center on page */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -102px;

    height: 50px;
    width: 210px;
    text-align: center;
    background-color: #BBB;
    border-radius: 10px;
    padding: 14px;
    color: #FFF;
}

#login-title
{
    position: absolute;
    top: -22px;
    left: -5px;
    font-size: 120%;
    background-color: #BBB;
    padding: 5px;
    border-radius: 10px;
}

#login-btn
{
    float: right;
    height: 22px;
    width: 50px;
    margin-top: 8px;
    margin-right: 6px;
    color: #444;
}